<div class="p-2">

</div>

<div class="grid grid-nogutter">

  <div class="col-2 p-2">
    <div class="flex flex-column bg-gray-200 p-2 justify-content-center hover:bg-gray-300 cursor-pointer">
      <img class="h-15rem" src="https://dansk.dk/img/1500/1500/resize/h/v/hvid_tee__web_1.png" alt="">
      <div class="info-txt">
        <div><b>Title</b>: Hvid T-Shirt</div>
        <div><b>Price</b>: </div>
        <div><b>Category</b>: T-Shirts</div>
        <div><b>Variants</b>: Xl, XXL, 2XL</div>
      </div>
    </div>
  </div>

</div>
