<p-table *ngIf="users$ | async" [value]="users" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          Users
          <p-button (onClick)="openAddUserModal()" label="Add User" icon="pi pi-plus" />
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
          <td><img src="https://api.dicebear.com/9.x/fun-emoji/svg?seed=Caleb" class="mr-3 lg:mr-0" style="width: 32px; height: 32px"/></td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles[0].name}}</td>
      </tr>
  </ng-template>
</p-table>
