<div class="flex flex-column">
  <form class="p-2" action="" [formGroup]="form">
    <div class="grid">
      <div class="col-6">
        <label for="name" class="block text-900 font-medium mb-2 text-sm">Name</label>
        <input [(ngModel)]="name" formControlName="name" id="email" type="text" placeholder="Name" pInputText class="w-full" />
        <div class="errors text-red-500 text-sm">
          <small *ngIf="form.controls['name'].errors?.['required'] && form.controls['name'].dirty">A name is required</small>
        </div>
      </div>

      <div class="col-6">
        <label for="name" class="block text-900 font-medium mb-2 text-sm">Description</label>
        <input [(ngModel)]="description" formControlName="description" id="description" type="text" placeholder="Description" pInputText class="w-full" />
        <div class="errors text-red-500 text-sm">
          <small *ngIf="form.controls['description'].errors?.['required'] && form.controls['description'].dirty">A description is required</small>
        </div>
      </div>

      <div class="col-6">
        <label for="extra_price" class="block text-900 font-medium mb-2 text-sm">Extra Price</label>
        <input [(ngModel)]="extra_price" formControlName="extra_price" id="base_price" type="text" placeholder="Extra Price" pInputText class="w-full" />
      </div>

      <div class="col-6">
        <label for="product" class="block text-900 font-medium mb-2 text-sm">Product</label>
        <p-dropdown
          formControlName="product_id"
          *ngIf="products$ | async"
          [options]="products"
          styleClass="w-full"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          (onChange)="onProductChange($event)"
          [(ngModel)]="product_id"
          placeholder="Select a Product" />
      </div>

      <div class="col-6">
        <p-fileUpload
          mode="basic"
          [multiple]="false"
          chooseLabel="Choose"
          chooseIcon="pi pi-upload"
          auto="true"
          (onSelect)="onSelect($event)"
          (onRemove)="onRemove($event)"
          accept="image/*"
          maxFileSize="10000000"
           />
      </div>

    </div>
  </form>
  <div class="flex align-self-end">
    <button (click)="addVariant()" pButton label="Add Variant" pRipple></button>
  </div>
</div>
