<p-table *ngIf="products$ | async" [value]="products" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          Products
          <p-button (onClick)="openAddProductModal()" label="Add Product" icon="pi pi-plus" />
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Images</th>
          <th>Price</th>
          <th>Product Family</th>
          <th>Variants</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price | currency:'USD'}}</td>
          <td>{{product.category}}</td>
      </tr>
  </ng-template>
</p-table>
