<div class="grid m-0 h-full">
  <div class="p-2 col-3">
    <div class="bg-gray-200 h-full">
      <div class="header p-2">Total Products</div>
      <div class="h-full flex align-items-center justify-content-center">
        Test Content
      </div>
    </div>
  </div>
  <div class="p-2 col-3">
    <div class="bg-gray-200 h-full">
      <div class="header p-2">Total Variants</div>
      <div class="h-full flex align-items-center justify-content-center">
        Test Content
      </div>
    </div>
  </div>
  <div class="p-2 col-3">
    <div class="bg-gray-200 h-full">
      <div class="header p-2">Total Product Families</div>
      <div class="h-full flex align-items-center justify-content-center">
        Test Content
      </div>
    </div>
  </div>
  <div class="p-2 col-3">
    <div class="bg-gray-200 h-full">
      <div class="header p-2">Total Users</div>
      <div class="h-full flex align-items-center justify-content-center">
        Test Content
      </div>
    </div>
  </div>
  <div class="p-2 col-6">
    <div class="bg-gray-200 h-full">
      <div class="header p-2">Test</div>
      <div class="h-full flex align-items-center justify-content-center">
        Test Content
      </div>
    </div>
  </div>
  <div class="p-2 col-6">
    <div class="bg-gray-200 h-full">
      <div class="header p-2">Test</div>
      <div class="h-full flex align-items-center justify-content-center">
        Test Content
      </div>
    </div>
  </div>
</div>
