<div class="grid grid-nogutter surface-ground text-800 h-screen">
  <div class="col-12 md:col-6 text-center md:text-left surface-ground h-screen flex flex-column pl-8 pr-8 pt-4 pb-4 md:pl-3 md:pr-3 justify-content-center">
      <div class="col-12 surface-ground flex justify-content-center align-content-center flex-column">
          <div class="col-12 text-center mb-2 flex-1">
              <div class="text-800 text-4xl font-medium">PIM System</div>
              <div class="text-400 text-2xl font-light font-italic" >Managing products made simple</div>
          </div>
      </div>

      <div class="col-12 surface-ground flex-0 px-8 h-15rem">
          <div>
            <form [formGroup]="form">
              <div class="mb-3">
                  <label for="password" class="block text-900 font-medium mb-2 text-sm" >Password</label>
                  <div class="p-inputgroup">
                      <input [(ngModel)]="password" formControlName="password" id="password" placeholder="Password" pInputText class="w-full" />
                  </div>

                <div class="errors text-red-500 text-sm">
                  <small *ngIf="form.controls['password'].errors?.['minlength'] && form.controls['password'].dirty" >The password should be at least 6 characters in length</small>
                  <small *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].dirty" >A password is required</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="repeat_password" class="block text-900 font-medium mb-2 text-sm" >Repeat Password</label>
                <div class="p-inputgroup">
                    <input [(ngModel)]="repeat_password" formControlName="repeat_password" id="repeat_password" placeholder="Repeat Password" pInputText class="w-full" />
                </div>

              <div class="errors text-red-500 text-sm">
                <small *ngIf="form.controls['repeat_password'].errors?.['minlength'] && form.controls['repeat_password'].dirty" >The repeat password should be at least 6 characters in length</small>
                <small *ngIf="form.controls['repeat_password'].errors?.['required'] && form.controls['repeat_password'].dirty" >A repeat password is required</small>
              </div>
            </div>
            </form>
          </div>

      </div>

      <div class="col-12 surface-ground flex px-8 pb-0 mb-5 justify-content-between align-items-center">
          <div>
              <button (click)="setPassword()" pButton label="Set Password" pRipple ></button>
          </div>
      </div>
  </div>

  <div class="col-12 md:col-6 overflow-hidden surface-ground hidden sm:hidden lg:block md:hidden h-screen" style="position: relative;">
    <div class="shape-2461 h-screen w-full md:w-full sm:w-full" style="position: absolute; left: 0; top: 0;"></div>
    <video [muted]="true" autoplay playsinline loop style="transform: translateX(-30%); opacity: 40%;" class="h-full" src="../../assets/videos/warehouse.mp4"></video>
  </div>
</div>
